
@{
    Layout = null;
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
    <style>
        html, body {
            width: 100%;
            height: 100%;
            overflow: hidden
        }

        body {
            background: #1E9FFF;
        }

            body:after {
                content: '';
                background-repeat: no-repeat;
                background-size: cover;
                -webkit-filter: blur(3px);
                -moz-filter: blur(3px);
                -o-filter: blur(3px);
                -ms-filter: blur(3px);
                filter: blur(3px);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
            }

        .layui-container {
            width: 100%;
            height: 100%;
            overflow: hidden
        }

        .admin-login-background {
            width: 360px;
            height: 300px;
            position: absolute;
            left: 50%;
            top: 40%;
            margin-left: -180px;
            margin-top: -100px;
        }

        .logo-title {
            text-align: center;
            letter-spacing: 2px;
            padding: 14px 0;
        }

            .logo-title h1 {
                color: #1E9FFF;
                font-size: 25px;
                font-weight: bold;
            }

        .login-form {
            background-color: #fff;
            border: 1px solid #fff;
            border-radius: 3px;
            padding: 14px 20px;
            box-shadow: 0 0 8px #eeeeee;
        }

            .login-form .layui-form-item {
                position: relative;
            }

                .login-form .layui-form-item label {
                    position: absolute;
                    left: 1px;
                    top: 1px;
                    width: 38px;
                    line-height: 36px;
                    text-align: center;
                    color: #d2d2d2;
                }

                .login-form .layui-form-item input {
                    padding-left: 36px;
                }

        .captcha {
            width: 60%;
            display: inline-block;
        }

        .captcha-img {
            display: inline-block;
            width: 34%;
            float: right;
        }

            .captcha-img img {
                height: 34px;
                border: 1px solid #e6e6e6;
                height: 36px;
                width: 100%;
            }
    </style>
</head>
<body>
    <div class="layui-container">
        <div class="admin-login-background">
            @using OnlineCourse.Models:
            @model Users
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "layui-form login-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="layui-form-item logo-title">
                    <h1>JA LANGUAGE SCHOOL</h1>
                </div>
                <div align="center" style="margin: 0 auto; vertical-align: middle; ">
                    <img style="height:50px" src="/lib/images/logo.png">
                </div>
                <div style="height:20px"></div>
                <div class="layui-form-item">
                    <label style="display:inline-block;color:black;">Account:</label>
                    <input style="display: inline-block; width: 75%; float:right;" type="text" name="account" autocomplete="off" lay-verify="required" placeholder="please input account" class="layui-input" value="@(Model.User_Account)">
                </div>
                <div class="layui-form-item">
                    <label style="display: inline-block;color: black;">Password:</label>
                    <input style="display: inline-block; width: 75%; float:right;" type="password" name="password" placeholder="please input password" lay-verify="required|pass" autocomplete="off" class="layui-input" value="@(Model.User_Password)">

                </div>
                <div class="layui-form-item">
                    <label style="display:inline-block;color:black;">Role:</label>
                    @Html.Raw(@ViewBag.ctrrole)
                </div>
                <div class="layui-form-item">
                    
                    <a style="display: inline-block; margin:10px 0px 0px 0px; float: right; " href="/Account/Register"> Register </a>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn layui-btn-normal layui-btn-fluid" lay-submit="" lay-filter="login">Login</button>
                </div>

                <div style="text-align: center"> 2023 &copy; JA LANGUAGE SCHOOL</div>
            }
            @{
                if (@ViewBag.msg != null)
                {
                    <script src="/lib/jquery/jquery-3.4.1.min.js" charset="utf-8"></script>
                    <script src="/lib/layer/layer.js" charset="utf-8"></script>
                    <script type="text/javascript">
                        var str = '@(ViewBag.msg)';
                        layer.msg(str);
                    </script>
                }
            }
        </div>
    </div>
    <script src="/lib/jquery/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script src="/lib/jquery/jquery.particleground.min.js" charset="utf-8"></script>
    <script>
        layui.use(['form'], function () {
            var form = layui.form,
                layer = layui.layer;

            form.verify({
                noempty: function (value) {
                    if (value.length <= 0) {
                        return 'can not be empty';
                    }
                }
                , pass: [
                    /^(?!([a-zA-Z]+|\d+)$)[a-zA-Z\d]{6,20}$/
                    , 'The password must be 6 to 20 digits and must include letters and numbers'
                ]
                , content: function (value) {
                    layedit.sync(editIndex);
                }
            });

            $(document).ready(function () {
                $('.layui-container').particleground({
                    dotColor: '#7ec7fd',
                    lineColor: '#7ec7fd'
                });
            });

        });

    </script>
</body>

</html>