
@{
    ViewData["Title"] = "Admission";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admission</title>
</head>
<body>
    <h1>Admission Costs for Each Class</h1>
    <br />
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Course Id</th>
                <th>Course Number</th>
                <th>Course Name</th>
                <th>Course Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.Admissions)
            {
                <tr>
                    <th scope="row">@item.CourseId</th>
                    <td>@item.CourseNumber</td>
                    <td>@item.CourseName</td>
                    <td>@item.CourseCost</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</body>
</html>
