
@{
    Layout = null;
    ViewData["Title"] = "CourseDetail";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
</head>
<body>
    @using schoolEnrollment.Models:
    @model Course
    <div style="margin-top:10px;"></div>
    <div class="layui-row">
        <div class="layui-col-xs12">

            @Html.Raw(@ViewBag.ctrIfLogin)

        </div>
    </div>

    <div style="margin:50px 80px 10px 80px;">
        <div style="margin-top:10px;"></div>
        <div class="layui-row layui-col-space5">
            <div class="layui-col-md9">
                <div class="layui-row">
                    <div class="layui-card">
                        <div class="layui-card-header" style="background-color: #fafafa;">Course Name</div>
                        <div class="layui-card-body">
                            @(Model.Course_Name)
                        </div>
                    </div>
                </div>
                <div style="margin-top:20px;"></div>
                <div class="layui-row  layui-col-space5">
                    <div class="layui-col-md3">
                        <div class="layui-card">
                            <div class="layui-card-header" style="background-color: #fafafa;">Course Start Time</div>
                            <div class="layui-card-body">
                                @(Model.Start_Time)
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-card">
                            <div class="layui-card-header" style="background-color: #fafafa;">Course End Time</div>
                            <div class="layui-card-body">
                                @(Model.End_Time)
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-card">
                            <div class="layui-card-header" style="background-color: #fafafa;">Course Hours</div>
                            <div class="layui-card-body">
                                @(Model.Course_Hours)
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-card">
                            <div class="layui-card-header" style="background-color: #fafafa;">Course Price</div>
                            <div class="layui-card-body">
                                @(Model.Course_Price)
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top:20px;"></div>
                <div class="layui-row">
                    <div class="layui-card">
                        <div class="layui-card-header" style="background-color: #fafafa;">Course Description</div>
                        <div class="layui-card-body">
                            @(Model.Course_Description)
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3">
                <div class="layui-panel">
                    <div style="padding: 16px;">@Html.Raw(@ViewBag.ctrimg)</div>
                    <div style="padding: 50px;"><a class="layui-btn" href="javascript:void(0)" onclick="AddToSelectList()">Add To List</a></div>
                    
                </div>
            </div>
            
        </div>

        @{
            if (@ViewBag.msg != null)
            {
                                <script src="/lib/jquery/jquery-3.4.1.min.js" charset="utf-8"></script>
                                <script src="/lib/layer/layer.js" charset="utf-8"></script>
                                <script type="text/javascript">
                                    var str = '@(ViewBag.msg)';
                                    layer.msg(str);
                                </script>
            }
        }
    </div>
    <script src="/lib/jquery/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script>
        layui.use(function () {
            var form = layui.form,
                layer = layui.layer;

            window.getQueryVariable = function (variable) {
                variable = variable.toLowerCase();
                var query = window.location.search.toLowerCase().substring(1);
                var vars = query.split("&");
                for (var i = 0; i < vars.length; i++) {
                    var pair = vars[i].split("=");
                    if (pair[0] == variable) { return pair[1]; }
                }
                return ("");
            }

            window.AddToSelectList = function () {
                var courseid = getQueryVariable("id");
                if (courseid != "") {
                    $.ajax({
                        type: 'post',
                        url: '/Course/AddCourseToSelectList?time=' + new Date().getTime(),
                        data: { course_id: courseid },
                        success: (data) => {
                            var resJson = JSON.parse(data);
                            if (resJson.state != 1) {
                                layer.alert(resJson.msg, { title: "alert" });
                            }
                            else {
                                
                                layer.msg(resJson.msg);
                            }

                        }
                    });
                }
                else {
                    layer.msg("Course Id can not be empty!");
                }
            }

            window.DownLoadVideo = function () {
                var courseid = getQueryVariable("id");
                if (courseid != "") {
                    window.location.href = "/Course/DownloadCourse?id=" + courseid;
                }
                else {
                    layer.msg("Course Id can not be empty!");
                }
            }

            window.ToLogin = function () {
                window.location.href = "/Account/AjaxLogin";
            }

            window.onload = function(){
                
            }
        });

    </script>
</body>

</html>

